{% extends 'base.html' %}


{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock %}


{% block main %}
<div class="container">
  <div class="row my-3 d-flex align-items-center">
    <div class="col-sm-6">
      <h1>{{ title }}</h1>
      <p>All properties you've created; green indicates healthy traffic, red indicates no traffic.</p>
    </div>
    <div class="col-sm-6">
      <form method="get" class="d-flex">
        <div class="form-floating flex-grow-1 rounded-0 rounded-start">
          <input type="text" class="form-control" name="q" id="id_search" placeholder="Search" {% if q %}value="{{ q }}"{% endif %} autofocus />
          <label for="id_search" class="form-label">Search</label>
        </div>
        <button type="submit" class="btn btn-secondary px-3 rounded-0 rounded-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        <button class="btn btn-primary px-3 ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePropertyAdd" aria-expanded="false" aria-controls="collapsePropertyAdd">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="row mx-0 mb-3 bg-dark py-3 rounded border border-warning collapse" id="collapsePropertyAdd">
    <div class="col-sm-6">
      <h2 class="text-white">Create a new property</h2>
      <p class="text-white">The name helps you identfy the property and can be anything you want.</p>
      {{ form.errors }}
      <form method="POST" class="d-flex">
        {% csrf_token %}
        <div class="flex-grow-1">
          <div class="form-floating">
            <input type="text" name="name" id="id_name" class="form-control {% if form.name.errors %}is-invalid{% endif %} rounded-0 rounded-start" placeholder="Name" required>
            <label for="id_name">Name</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary px-3 rounded-0 rounded-end">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3 bg-secondary text-white">
        <div class="row g-0">
          <div class="col-6 offset-md-1 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_properties }}</div>
              <p class="card-text">Properties</p>
            </div>
          </div>
          <div class="col-6 offset-md-3 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_events }}</div>
              <p class="card-text">Events</p>
            </div>
          </div>
          <div class="col-6 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_page_views }}</div>
              <p class="card-text">Page views</p>
            </div>
          </div>
          <div class="col-6 col-md-2 d-flex align-items-center">
            <div class="card-body py-1">
              <div class="card-title h3 mb-0">{{ user.total_session_starts }}</div>
              <p class="card-text">Session starts</p>
            </div>
          </div>
        </div>
      </div>
      {% for property in properties %}
        <div class="card mb-3 bg-light">
          <div class="row g-0">
            <div class="col-sm-1">
              <div class="w-100 h-100 rounded-start {% if property.is_active %}bg-success{% else %}bg-danger{% endif %}"></div>
            </div>
            <div class="col-12 col-md-5">
              <div class="card-body">
                <h2 class="card-title">{{ property.name }}</h2>
                <a href="{% url 'property' property.id %}" class="btn btn-sm px-4 btn-primary" onclick="collectorQueue.push({event: 'view_property'})">View</a>
                {% if not property.is_protected %}
                <button type="button" class="btn btn-sm px-4 btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ property.id }}" onclick="collectorQueue.push({event: 'delete_property'})">
                  Delete
                </button>
                <div class="modal fade" id="delete-modal-{{ property.id }}" tabindex="-1" aria-labelledby="delete-modal-{{ property.id }}-label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delete-modal-{{ property.id }}-label">Confirm property delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete <strong>{{ property.name }}</strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I've changed my mind</button>
                        <a href="{% url 'property_delete' property.id %}" class="btn btn-danger">Confirm</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-6 col-md-2 d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h2">{{ property.total_events }}</div>
                <p class="card-text text-truncate">Events</p>
              </div>
            </div>
            <div class="col-6 col-md-2 d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h2">{{ property.total_page_views }}</div>
                <p class="card-text text-truncate">Page views</p>
              </div>
            </div>
            <div class="col-6 col-md-2 d-none d-md-flex d-flex align-items-center">
              <div class="card-body">
                <div class="card-title h2">{{ property.total_session_starts }}</div>
                <p class="card-text text-truncate">Session starts</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
