{% extends 'base.html' %}


{% block extra_head %}
{% include "includes/social.html" %}
{% endblock %}


{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock %}


{% block main %}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">
      <h1>{{ title }}</h1>
      <p>New features and changes to analytics, sometimes I'll tease something coming soon.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0">

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-07-26</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Add URL property filtering</li>
          </ul>
        </div>
      </div>

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-07-06</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Change IPInfo to local MaxMind DB for IP lookup</li>
          </ul>
        </div>
      </div>

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-06-18</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Change all tracking terminology into collecting</li>
          </ul>
        </div>
      </div>

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-06-05</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Add pdf report generator</li>
          </ul>
        </div>
      </div>

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-05-28</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Add chromium screenshot utility</li>
          </ul>
        </div>
      </div>

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-05-28</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Add open graph and meta data improvements</li>
          </ul>
        </div>
      </div>

      <div class="row border-bottom py-2">
        <div class="col-3">
          <span class="badge bg-success">2022-05-22</span>
        </div>
        <div class="col-9">
          <ul class="mb-0">
            <li>Add previous period comparisons</li>
            <li>Add a sharable link to property pages</li>
            <li>Add UTM query param collecting</li>
            <li>Add platform doughnut graph</li>
            <li>Add date range selection</li>
            <li>Add custom card selection</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
